.fa-envelope {
    size:3px;
}
.navbar form .md-form input{
    color:#f8f9fa;
    font-size: 25px;
}

.md-avatar.size-1 {
  width: 40px;
  height: 40px;
}

.Logo{
    height: 40px;
    width:auto;
}

.secondary-color {
    background-color: #32cce0 !important;
}

.maindiv{
    background-color: #f8f9fa;

}

.card-image{

  background: url("https://wallpapercave.com/wp/wp3087307.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }

  .page-footer{
      background-color: #4DB6AC ;
  }

#sticky.p{
    background: transparent;

    font-size:3.5vmin;
    max-width: 50px;
    width: 100%;

}
#footerbottom{
    background:url(http://www.fullhdwpp.com/wp-content/uploads/Abstract-Gradient-48_www.FullHDWpp.com_.jpg?x69613) no-repeat;

}
 ::placeholder {
        color:  #008752;
    }


#log{
 text-align: right;
        position:relative;
color:rgb(108, 201, 255);
        left:0;
        right:300px;
        margin:auto;
        font-size: 20px;

}

.bg{
    background:url(http://www.fullhdwpp.com/wp-content/uploads/Abstract-Gradient-48_www.FullHDWpp.com_.jpg?x69613) no-repeat;
    width:100%;
    height:100vh;
}

.form-container{
border:0px solid;
color:#fff;
padding-top:50px;
padding-bottom:60px;
padding-right:60px;
padding-left:60px;
margin-top:10vh;
-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);

}

#jumbotron{
    background: black;
    height: 900px;
    width: auto;

}

.cardinfo {
    background:white;

}

#infojumbo {
    color:white;

}

.watchcontainer{
    background-color: #5bc0de;

}

.navbar{
    box-shadow:none;
}




.active-purple-4 input[type=text]:focus:not([readonly]) {
border: 1px solid #ce93d8;
box-shadow: 0 0 0 1px #ce93d8;
}
.active-purple-3 input[type=text] {
border: 1px solid #ce93d8;
box-shadow: 0 0 0 1px #ce93d8;
}

.bk{
    background-image: url('../img/searchbk.png') ;
    background-size:cover;
      width:100%;
    height:100vh;
}

body{
  background:transparent;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 80000%;
  border: 3px solid #8889C2;
  border-right: none;
  padding: 5px;
  height: 137px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #52578E;
}

.searchTerm:focus{
  color: #8889C2;
}

.searchButton {
  width: 90px;
  height: 136px;
  border: 1px solid #8889C2;
  background: #8889C2;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 80px;

}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 64%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}