.fa-envelope {
    size:3px;
}

.md-avatar.size-1 {
  width: 40px;
  height: 40px;
}

.Logo{
    height: 40px;
    width:auto;
}

.secondary-color {
    background-color: #32cce0 !important;
}

.maindiv{
    background-color: #f8f9fa;

}

.card-image{

  background: url("https://wallpapercave.com/wp/wp3087307.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }

  .page-footer{
      background-color: #4DB6AC ;
  }

#sticky.p{
    background: transparent;
    font-size: 10px;
    max-width: 50px;
    width: 100%;
}


#log{
 text-align: right;
        position:relative;
color:rgb(91, 230, 248);
        left:0;
        right:300px;
        margin:auto;
        font-size: 20px;

}